<div class="wrapper">
    <h2 class="heading">Employee's List</h2>

    <div class="employees-wrapper">
            <table border="1">
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Package</th>
                    <th>Actions</th>
                </tr>

                <tr *ngFor="let employee of employees">
                   <td>{{employee.id}}</td>
                   <td>{{employee.name}}</td>
                   <td>{{employee.mobile}}</td>
                   <td>{{employee.email}}</td>
                   <td>{{employee.package}} LPA</td>
                  
                   <td>
                    <!-- <button class="action-btn primary" [routerLink]="'edit-employee/' + employee.id">Edit</button>
                    <button class="action-btn warn" (click)="deleteEmployee(employee)">Delete</button> -->
                       <app-action-buttons [employee]="employee" (deleteClicked)="onDeleteEmployee($event)" ></app-action-buttons>
                   </td>
                </tr>
            </table>
    </div>
</div>