<div class="wrapper">
    <h2 class="heading">Employee's List</h2>

    <div class="employees-wrapper">
            <table border="1">
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Package</th>
                    <th>Actions</th>
                </tr>
                <tr>
                   <td>1</td>
                   <td>Aditya Chandrikapure</td>
                   <td>7898872390</td>
                   <td>aditya@gmail.com</td>
                   <td>7 LPA</td>
                   <td>
                    <button class="action-btn primary" routerLink="edit-employee/1">Edit</button>
                    <button class="action-btn warn">Delete</button>
                   </td>
                </tr>
            </table>
    </div>
</div>