
.action-btn {
    padding: 5px 10px;
    min-width: 60px;
    outline: none;
    border: transparent;
    font-weight: 600;
    color:white;
    border-radius: 5px;
    margin : 0 5px;
    cursor: pointer;
}

.primary {
   background-color: blue;
}

.warn {
    background-color: orangered;
}
