.nav-bar {
    width: 100vw;
    height : 70px;
    background-color: rgb(194, 100, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 10px;
}

.logo {
    color : white;
    cursor: pointer;
}

.nav-lists-wrapper {
    display: flex;
    list-style-type: none;
}

.nav-list-item{
   color: white;
   margin-left: 20px;
   font-weight: 600;
   ;
}

.nav-list-item a {
    text-decoration: none;
    color : white;
    padding : 7px 10px;
    border : 2px solid white;
    border-radius: 5px;
}

.nav-list-item a:hover{
    background-color: white;
    color :rgb(194, 100, 206);
}