<div class="add-employee-wrapper">
    <form class="add-form">
        <h2 class="form-heading">Edit Employee</h2>
        <div class="input-field">
            <label>Name : </label>
            <input type="text" placeholder="Enter the name">
        </div>
        <div class="input-field">
            <label>Mobile : </label>
            <input type="text" placeholder="Enter mobile no.">
        </div>
        <div class="input-field">
            <label>Email : </label>
            <input type="email" placeholder="Enter the email">
        </div>
        <div class="input-field">
            <label>Package : </label>
            <input type="text" placeholder="Enter the package">
        </div>
        <div class="submit-btn-wrapper">
            <button>Update</button>
        </div>
    </form>
</div>